.container {
  background: #1f2122;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.font {
  font-size: 5rem;
  color: #f400b0;
}
