.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.videoFrame {
  width: 80%;
  margin: 2rem;
}

.videoFrame2 {
  width: 45%;
  height: fit-content;
  margin: 1rem;

}

.videoFrame3 {
  width: 40%;
  height: fit-content;
  margin: 1rem;

}

.videoFrame4 {
  width: 30%;
  height: fit-content;
  margin: 1rem;

}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 1.5rem;
}

.button {
  background: #f400b0;
  border-radius: 1rem;
  font-size: 1rem;
  color: #ffffff;
  font-size: 2rem;
  border: 0;
  word-break: keep-all;
  height: 100%;
  width: fit-content;
  padding: 1rem;
}

.chatting {
  background: #353839;
  border-radius: 1rem;
  border: 0;
  color: white;
  font-size: 2rem;
  height: 100%;
  width: 100%;
}

input::placeholder {
  font-size: 2rem;
  text-align: start;
}

.button:hover {
  cursor: pointer;
}

.answer {
  height: 4.5rem;
  width: 90%;
  display: flex;
  align-items: center;
}
