.webcamCapture {
  display: flex;
  flex-direction: column;
  position: relative;
}

.username {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 1%;
  color: black;
  text-shadow: -2px 0 #ffff, 0 2px #ffff, 2px 0 #ffff, 0 -2px #ffff;
}
