.webcamCapture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.username {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  text-shadow: -1px 0 #ffff, 0 1px #ffff, 1px 0 #ffff, 0 -1px #ffff;
}
