.videocontainer{
  position: relative;
  color: black;
}

.nickname {
  position: absolute;
  font-size: 2rem;
  right:1%;
  bottom: 1%;
  text-shadow: -2px 0 #ffff, 0 2px #ffff, 2px 0 #ffff, 0 -2px #ffff;

}