.background {
  height: 50rem;
  border-radius: 10px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  background-color: #353839;
  overflow: hidden;
  position: relative;
}
.img {
  height: 100%;
  aspect-ratio: unset;
}

.wrongMassage {
  color: red;
  /* padding: 10px; */
  font-size: 3rem;
  animation: fadeout 2s;
  -moz-animation: fadeout 5s; /* Firefox */
  -webkit-animation: fadeout 2s; /* Safari and Chrome */
  -o-animation: fadeout 5s; /* Opera */
  animation-fill-mode: forwards;
  z-index: 1;
  position: absolute;
  bottom: 17%;
  left: 51%;
  display: none;
}

.result {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.questionNo {
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
  position: absolute;
  top: 3%;
  left: 5%;
  color: #f400b0;
  text-shadow: -2px 0 #ffff, 0 2px #ffff, 2px 0 #ffff, 0 -2px #ffff;
}

.TimeLimit {
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
  position: absolute;
  top: 3%;
  right: 5%;
  color: red;
  text-shadow: -2px 0 #ffff, 0 2px #ffff, 2px 0 #ffff, 0 -2px #ffff;
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
