.container{
  height: 92.5vh;
  overflow: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}

.chattingbox{
  /* height: 100%; */
}

.text{
  color: white;
  font-size: 2rem;
  word-break: keep-all;
}