.container{
  height: 90vh;
  overflow: scroll;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  bottom: 0;
  justify-content: end;
}
.container::-webkit-scrollbar {
  display: none;
}


.text{
  color: white;
  font-size: 2rem;
  word-break: keep-all;
}