.container{
  height: 90vh;
  overflow: scroll;
  padding-bottom: 2rem;

}
.container::-webkit-scrollbar {
  display: none;
}

.innercontainer{
    display: flex;
  flex-direction: column;
  bottom: 0;
  justify-content: end;
  gap: 1rem;
}

.text{
  color: white;
  font-size: 2rem;
  word-break: keep-all;
  display: flex;
  flex-direction: row;
  font-weight: 200;
}


.chatbox{
  position: relative;
  width: 67%;
  height: fit-content;
  background-color: #8f00ff;
  margin-left: 5%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  word-break: break-all;
}

.chatbox::after{
  content: '';
  position: absolute;
	left: 0;
	top: 1.8rem;
	width: 0;
	height: 0;
	border: 1rem solid transparent;
	border-right-color: #8f00ff;
	border-left: 0;
	border-top: 0;
	margin-top: -.5rem;
	margin-left: -1rem;
}


.chatbox2{
  position: relative;
  width: 67%;
  background-color: #8f00ff;
  margin-right: 5%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  word-break: break-all;
}

.chatbox2::after{
	content: '';
	position: absolute;
	right: 0;
	top: 1.8rem;
	width: 0;
	height: 0;
	border: 1rem solid transparent;
	border-left-color: #8f00ff;;
	border-right: 0;
	border-top: 0;
	margin-top: -.5rem;
	margin-right: -1rem;
}