.sidebar {
  position: relative;
  width: 30rem;
  height: 100%;
  background-color: #1f2122;
  position : fixed;
  top: 0;
  right: -35rem;
  color: black;
  z-index: 99;
  padding: 2rem;
  opacity: 0.9;
}

.sidebar.active{
  animation: sidebarOpen 0.8s ease-in-out;
  right: 0;
}

.sidebar.inactive{
  animation: sidebarClose 0.8s ease-in-out;
  right: -35rem;
}

.form{
  display: flex;
  height: fit-content;
}

.input{
  position: relative;
  border: none;
  font-size: 1.5rem;
  width: 70%;
  background: #3e3e3e;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  margin-right: 1.5rem;
}

.button{
  all: unset;
  background: #f400b0;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  border: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  word-break: keep-all;
}

.button:hover{
  cursor: pointer;
  background-color: #cb0091;
}

.exitbutton{
  color: white;
  align-self: center;
  background-color: #f400b0;
  padding: 1rem 1.2rem 1rem 1.2rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  position: absolute;
  left: -5rem;
  bottom: 5rem;
}

.exitbutton:hover {
  background-color: #cb0091;
  color: white;
}

@keyframes sidebarOpen{
  0% {
    right: -35rem;
  }
  100%{
    right: 0;
  }
}

@keyframes sidebarClose{
  0%{
    right: 0;
  }
  100%{
    right: -35rem;
  }
}