.background {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
  height: 15vw;
  padding: 3rem;
}

.fontsize {
  font-size: 3rem;
  color: white;
}

.logoImg {
  width: 10rem;
  animation: rotate_image 2s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(720deg);
  }
}
