.background {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
  height: 14.65vw;
  padding: 2rem;
}

.fontsize {
  font-size: 3rem;
  color: white;
}

.logoImg {
  animation: rotate_image 2s linear infinite;
  transform-origin: 50% 50%;
  color: #f400b0;
}

@keyframes rotate_image {
  100% {
    transform: rotate(720deg);
  }
}
