.UpperContainer {
  display: flex;
  align-items: center;
  font-weight: 100;
  height: 10%;
  justify-content: space-between;
}

.Noclick{
  pointer-events: none;
}

.IconWithText{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.2rem;
  cursor: pointer;
}

.IconWithText:hover {
  color: #f400b0;
  animation: changecolor 0.3s ease;
}

.IconWithText.active {
  color: #f400b0;
}

.inactive {
  animation : returncolor 0.25s ease
}


@keyframes changecolor {
  0%{
    color: white;
  }
  100%{
    color: #f400b0;
  }
}

@keyframes returncolor {
  0%{
    color: #f400b0;
  }
  100%{
    color: white;
  }
}

.UnderIcon {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  padding-top: 1rem;
}
.smallText{
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}
.ExitButton {
  align-self: center;
  background-color: #D70000;
  height: fit-content;
  padding: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;  
}

.ExitButton:hover {
  background-color: #bc0000;
}