.photoshootbackground {
  width: 80vw;
  height: auto;
  padding: 3rem;
  padding-top: 2rem;
  overflow: hidden;
}

.photoshootFont {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.photoshootflex {
  display: flex;
  flex-direction: row;
}
