.photoshootdiaryflex2 {
  margin-left: auto;
  display: flex;
  width: 45%;
  flex-direction: column;
}

.photoshootdiaryflex3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photoshootdiaryselect {
  background-color: #353839;
  color: white;
  width: 9rem;
  height: 3rem;
  border-radius: 5px;
  margin: 5px;
  text-align-last: center;
  text-align: center;
  font-size: 1.3rem;
  margin: 0;

}

.photoshootdiaryinput {
  background-color: #353839;
  color: white;
  width: auto;
  height: 4rem;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}

.photoshootdiarytextarea {
  background-color: #353839;
  color: white;
  width: auto;
  height: 100%;
  min-height: 15rem;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 2rem;
  resize: none;
  text-align: left;
}

.photoshootdiarybutton {
  width: 8rem;
  height: 3rem;
  background-color: #00a739;
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
}

.photoshootdiarybutton2 {
  width: 8rem;
  height: 3rem;
  background-color: #f10000;
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
}

::placeholder {
  color: gray;
  font-size: 1.3rem;
  text-align: left;
}
