.photoshootbackground {
  background-color: #1f2122;
  width: 1590px;
  height: 795px;
}

.photoshootFont {
  font-size: 3rem;
  color: white;
  padding: 3rem;
  font-weight: bold;
}

.photoshootflex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
