.photoFrame {
  margin-right: 2rem;
  width: 40vw;
  height: auto;
  aspect-ratio: 1.35/1;
  padding: 1rem;
  position: relative;
}
.photoFrameImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1.35/1;
  object-fit: cover;
  z-index: 0;
}

.photoshootlayoutmaintextcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}

.photoshootlayoutbox {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  width: 30%;
  margin-bottom: 1rem;
  z-index: 1;
}

.photoshootlayoutLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.photoshootlayoutfont {
  font-size: 3rem;
  color: white;
  margin-left: 1rem;
  font-weight: bold;
}
