.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 83.4%;
  padding: 2rem 8.3% 2rem 8.3%;
  background-color: #1f2122;
  color: white;
  font-family: "GmarketSans";
  z-index: 1;
}

.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 2rem;
}

.Logo:hover {
  cursor: pointer;
}

.LogoImg {
  width: 5rem;
  height: 5rem;
}

.LogoTitle {
  background: linear-gradient(90deg, #9d00f2, #f400b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.searchforms {
  display: flex;
  flex-direction: row;
}

.searchRooms {
  padding: 0 0 0 1rem;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #353839;
  height: 3.5rem;
  width: 10vw;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchRooms::placeholder {
  font-size: 1.4rem;
  text-align: start;
}

.searchBtn {
  all: unset;
  position: relative;
  transform: translateX(-150%);
  background-color: none;
}

.lens {
  font-size: 1.5rem;
}

.lens:hover {
  cursor: pointer;
  color: #f400b0;
}

.profileimg {
  border-radius: 50%;
  width: 4rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: solid 0.3rem transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #8f00ff 0%, #ff00a8 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.createRoom:hover {
  cursor: pointer;
  background-color: #cb0091;
}

.Login {
  width: 8rem;
  transition: opacity 0.5s ease;
}

.Login:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.logout {
  font-size: 4rem;
  color: crimson;
}

.logout:hover {
  cursor: pointer;
  animation: logout 1.5s cubic-bezier(0.5, 0.5, 0, 0);
  animation-iteration-count: infinite;
}

@keyframes logout {
  50% {
    opacity: 50%;
    scale: 0.9;
  }
}

.active {
  color: #f400b0;
}

.router {
  font-weight: bold;
  margin: 0;
  font-size: 4rem;
  transition: color 0.3s ease;
}

.router:hover {
  color: #f400b0;
  transition: color 0.3s ease;
  cursor: pointer;
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* 로그아웃 애니메이션을 위한 CSS */

.wave {
  position: absolute;
  background-color: #9d00f2ad;
  bottom: -100vh;
  left: 0;
  width: 100vw;
  height: 110vh;
  transform: translateY(110vh);
  animation-fill-mode: forwards;

}

.wave2 {
  position: absolute;
  background-color: #f400afaf;
  bottom: -100vh;
  left: 0;
  width: 100vw;
  height: 110vh;
  transform: translateY(110vh);
  animation-fill-mode: forwards;

}

.wave3 {
  position: absolute;
  background-color: #1f2122;
  bottom: -100vh;
  left: 0;
  width: 100vw;
  height: 120vh;
  transform: translateY(120vh);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-fill-mode: forwards;
  text-align: center;
}

.wash1 {
  animation: wash 2s ease-in-out;
}
.wash1-1 {
  animation: wash1-1 2s ease-in-out;
}
.wash2 {
  animation: wash2 2s ease-in-out;
}
.wash2-2 {
  animation: wash2-2 2s ease-in-out;
}
.wash3 {
  animation: wash3 2s ease-in-out;
}

@keyframes wash {
  0% {
    transform: translateY(110vh);
  }
  50% {
    transform: translateY(-3vh);
  }
  100% {
    transform: translateY(-3vh);
  }
}
@keyframes wash1-1 {
  10% {
    transform: translateY(110vh);
  }
  60% {
    transform: translateY(-3vh);
  }
  100% {
    transform: translateY(-3vh);
  }
}
@keyframes wash2 {
  20% {
    transform: translateY(110vh);
  }
  70% {
    transform: translateY(-3vh);
  }
  100% {
    transform: translateY(-3vh);
  }
}
@keyframes wash2-2 {
  30% {
    transform: translateY(110vh);
  }
  80% {
    transform: translateY(-3vh);
  }
  100% {
    transform: translateY(-3vh);
  }
}
@keyframes wash3 {
  40% {
    transform: translateY(120vh);
  }
  90% {
    transform: translateY(-3vh);
  }
  100% {
    transform: translateY(-3vh);
  }
}

.logoutComment {
  margin: 0;
  background: linear-gradient(90deg, #8f00ff, #f400b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  font-size: 15rem;
}
