.groupContainer,
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
}

.navbar {
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: var(--font-size-6xl);
  margin: 0;
  /* padding: 0;
  display: -webkit-box; */
  /* display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; */
  /* justify-content: space-between; */
  /* list-style: none; */
}

.container {
  display: flex;
}

.groupChild {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.rectangleWrapper {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}
.raonzena {
  background: linear-gradient(90deg, #9d00f2, #f400b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.groupItem {
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-800);
  width: 15rem;
  height: 3rem;
}
.iconSearch {
  color: white;
  height: 48.08%;
  width: 10.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.searchRooms {
  border: 0 solid black;
  outline: none;
  font-weight: 500;
  color: white;
  display: inline-block;
  width: 149px;
  height: 19px;
  background-color: var(--color-gray-800);
}

.searchRooms2 {
  border: 0 solid black;
  outline: none;
  font-weight: 500;
  color: white;
  display: inline-block;
  /* width: 149px;
  height: 19px; */
  border-radius: var(--br-2xl);
  position: relative;
  width: 247px;
  height: 50px;
  flex-shrink: 0;
  background-color: var(--color-gray-800);
  text-align: center;
}

/* .rectangleParent {
  position: relative;
  width: 247px;
  height: 50px;
  flex-shrink: 0;
  color: var(--color-gray-500);
} */
.home {
  position: relative;
  font-weight: 500;
}
.groupInner {
  border-radius: var(--br-2xl);
  background-color: var(--color-fuchsia-200);
  width: 150px;
  height: 50px;
}
.iconUserCircle {
  height: 80%;
  width: 26.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile {
  font-weight: 500;
  display: inline-block;
  width: 64px;
  height: 19px;
}
.rectangleGroup {
  position: relative;
  flex-shrink: 0;
  margin-left: 2rem;
}
.rectangleDiv {
  border-radius: var(--br-2xl);
  background-color: var(--color-fuchsia-200);
  width: 159px;
  height: 50px;
}
.createRoom {
  font-weight: 500;
  display: inline-block;
  width: 126px;
  height: 21px;
}
.rectangleContainer {
  width: 159px;
  height: 50px;
  flex-shrink: 0;
}

::placeholder {
  text-align: center;
}

.nav_ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-grow: 1;
  align-items: center;
}

.nav_ul_li {
  list-style: none;
  margin-right: 2rem;
  font-weight: bold;
  background: #f400b0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.flexGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}
