.container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.container:hover > .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 100;
  animation: tooltip 1s ease;
  font-size: 1.5rem;
  word-break: keep-all;
  background-color: #8f00ff;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  top: -10%;
  left: 140%;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #8f00ff;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -8px;
}

@keyframes tooltip {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
