.background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.background2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.background3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.background4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profileimg {
  width: 20rem;
  height: 20rem;
}

.profileid {
  font-size: 2rem;
}

.profileid2 {
  font-size: 6rem;
  margin: 0;
}

.profileid3 {
  font-size: 3rem;
}

.profileid4 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.follow {
  background-color: #ff00b9;
  color: white;
  border-radius: 2rem;
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
  border: 0;
}

.follow2 {
  background-color: #1f2122;
  color: #ff00b9;
  border-color: #ff00b9;
  border-radius: 2rem;
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
}

.search {
  background-color: #1f2122;
  border: 0;
}
