.background {
  width: 50vw;
  height: 90vh;
  font-size: 5rem;
  color: white;
  display: block;
  padding: 2rem;
  text-align: center;
}

.background::-webkit-scrollbar {
  display: none;
}

.img {
  width: 70%;
}

.icon {
  color: gold;
}

.text {
  margin: 3rem 4rem 3rem 3rem;
  color: #f400b0;
}

.text2 {
  margin: 3rem;
  color: #f400b0;
  font-size: 2rem;
  text-align: center;
}

.textarea {
  margin-top: 2rem;
  font-size: 2rem;
  word-break: keep-all;
  width: 70%;
  text-align: start;
}
.OutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LargeContainer {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: center;
  height: 16vh;
}

.SmallContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
}

.InnerContainer1 {
  text-align: center;
  font-size: 3rem;
  color: #ffd230;
  background-color: #3e3e3e;
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
  border: none;
}
.InnerContainer2 {
  text-align: center;
  font-size: 3rem;
  color: #cfcfcf;
  background-color: #3e3e3e;
  width: 100%;
  height: 35%;
  border-radius: 5px 0 0 5px;
  border: none;
}
.InnerContainer3 {
  text-align: center;
  font-size: 3rem;
  color: #d9a262;
  background-color: #3e3e3e;
  width: 100%;
  height: 25%;
  border-radius: 0 5px 5px 0;
  border: none;
}

.profileImg {
  width: 50%;
}


.deleteBtn{
  font-size: 4rem;
  margin-top: 1rem;
  padding-right: 1rem;
}

.deleteBtn:hover{
  color: crimson;
  cursor: pointer;
}

.scroll{
  overflow: scroll;
  overflow-x: hidden;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll::-webkit-scrollbar {
  width: 1rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #f400b0;
  border-radius: 1rem;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.scroll::-webkit-scrollbar-track {
  background-color: #222222;
}

.scroll::-webkit-scrollbar-corner {
  display: none;
}
