.background {
  width: 27vw;
  height: 90vh;
  font-size: 3rem;
  color: white;
  font-family: "GmarketSans";
  display: block;
  text-align: center;
  padding: 2rem;
}

.background::-webkit-scrollbar {
  display: none;
}

.background2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1rem;
  cursor: pointer;
  transition: color 0.5s ease;
}

.background2:hover {
  color: #f400b0;
}

.img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: solid 0.3rem transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #8f00ff 0%, #f400b0 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.text {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #f400b0;
}

.scroll {
  height: 88%;
  overflow: scroll;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: 1rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #f400b0;
  border-radius: 1rem;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.scroll::-webkit-scrollbar-track {
  background-color: #222222;
}

.scroll::-webkit-scrollbar-corner {
  display: none;
}
