.background {
  background-color: #1f2122;
  font-weight: bold;
  font-size: 5rem;
  color: white;
  font-family: "GmarketSans";
  padding: 10rem 8.3% 0 8.3%;
  display: flex;
  flex-direction: column;
  word-break: keep-all;
}

.background2 {
  background-color: #353839;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background3 {
  background-color: #222222;
  width: auto;
  height: auto;
  border-radius: 2rem;
  padding: 5rem;
  text-align: left;
  margin: 3%;
}

.gradient {
  margin: 0;
  background: linear-gradient(90deg, #8f00ff, #f400b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.pinkbutton {
  margin-top: 5rem;
  background-color: #f400b0;
  font-size: 2rem;
  color: white;
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
}

.pinkbutton:hover {
  background-color: #cb0091;
}

.box1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.maintextcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.LandingImage1 {
  width: 30%;
  height: auto;
}

.maintext2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 2.5rem;
  width: 50%;
  line-height: 200%;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

#serviceintro {
  margin: 0;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#imageconfig {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pinkcolor {
  color: #f400b0;
}

.center {
  justify-content: center;
}
