.background {
  background-color: #1f2122;
  width: auto;
  height: 340vh;
  font-weight: bold;
  font-size: 55px;
  color:white;
  font-family: "Noto Sans";
  padding-left: 8.3%;
  padding-right: 8.3%;
  display: flex;
  flex-direction: column;
} 

.background2 {
  background-color: #353839;
  width: auto;
  height: 100%;
  border-radius: 20px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}

.background3 {
  background-color: #222222;
  overflow: hidden;
  width: auto;
  height: fit-content;
  overflow: inherit;
  border-radius: 20px;
  padding: 5%;
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: left;
  position: relative;
}


.gradient {
  margin:0;
  background: linear-gradient(90deg, #8f00ff, #ff00a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pinkbutton{
  background-color: #F400B0;
  font-size: 25px;
  color: white;
  border-radius: 20px;
  border: none;
  height: 70px;
  width: 250px;
}

.box1{
  margin-top: 5%;
  margin-bottom: 5%;
}

.LandingImage1{
  position: absolute;
  top: 20%;
  left: 68%;
  width: 30%;
  height: auto;
}

.maintext2 p{
  margin-top: 1.5rem;
  font-weight: 100;
  font-size: 25px;
}

.title {  
  margin: 0;
}

.subtitle {
  margin: 0;
  font-size: 45px;
  margin-bottom: 30px;
}

#service{
  margin: 0;
  font-size: 25px;
  margin-bottom: 20px;
}

#imageconfig{
  display: flex;
  justify-content: space-between;
}

#pinkcolor{
  color: #F400B0;
}