.background {
  background-color: #1f2122;
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: 4rem;
  color: white;
  font-family: "GmarketSans";
  padding: 10rem 8.3% 0 8.3%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .background {
    height: 95vh;
  }
}


.background2 {
  background-color: #353839;
  width: auto;
  height: auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
}

.background3 {
  background-color: #222222;
  width: auto;
  height: auto;
  border-radius: 2rem;
  padding: 5rem;
  text-align: left;
  margin-bottom: 3%;
}

#pinkcolor {
  color: #f400b0;
}

.displayFlex {
  display: flex;
  flex-direction: row;
}

.HostfollowingsList {
  background-color: #222222;
  border-radius: 2rem;
  padding: 5rem;
  text-align: left;
  width: 55%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.followingsList {
  background-color: #222222;
  border-radius: 2rem;
  padding: 5rem;
  text-align: left;
  width: 30%;;
}

.searchWord {
  font-size: 3rem;
  margin-left: 3rem;
}

.followingsListTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.followSearch {
  color: white  ;
  font-size: 3rem;
}

.followSearch:hover{
  cursor: pointer;
  color: #f400b0;
  animation: changecolor 0.3s ease;
}

@keyframes changecolor {
  0% {
    color: white;
  }
  100% {
    color: #f400b0;
  }
}