.background {
  background-color: #1f2122;
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: 5rem;
  color: white;
  font-family: "Noto Sans";
  padding-left: 8.3%;
  padding-right: 8.3%;
  display: flex;
  flex-direction: column;
}

.background2 {
  background-color: #353839;
  width: auto;
  height: auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
}

.background3 {
  background-color: #222222;
  width: auto;
  height: auto;
  border-radius: 2rem;
  padding: 5rem;
  text-align: left;
  margin-bottom: 5rem;
}

#pinkcolor {
  color: #f400b0;
}

.displayFlex {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  border-radius: 2rem;
  /* padding: 2rem; */
  justify-content: space-between;
  /* margin: 2rem; */
}

.HostfollowingsList {
  background-color: #222222;
  width: auto;
  height: auto;
  border-radius: 2rem;
  padding: 5rem;
  text-align: left;
  width: 55%;
}

.followingsList {
  background-color: #222222;
  width: auto;
  height: auto;
  border-radius: 2rem;
  padding: 5rem;
  text-align: left;
  width: 23%;
}
