.carousel {
  display: flex;
  flex-direction: column;
  behavior: smooth;
  justify-self: center;
}
.carouselcontainer {
  transition: transform 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.carouselcontainer img {
  cursor: pointer;
  height: 25vw;
  width: 13.3vw;
  border-radius: 2rem;
  object-fit: cover;

  transition: scale .5s ease;
}

.carouselcontainer img:hover {
  scale: 1.1;
}

.buttonlist {
  margin: auto;
  margin-top: 4rem;
  width: 8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circlebutton {
  background-color: #cacaca;
  border-radius: 100%;
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
}

.circlebutton.active {
  background-color: #f400b0;
}
