.groupChild {
  position: absolute;
  top: 96px;
  left: 0;
  border-radius: var(--br-sm);
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.div {
  position: absolute;
  top: 355px;
  left: 4px;
  letter-spacing: 0.15em;
  font-weight: 500;
}
.iconUserCircle {
  position: absolute;
  height: 18.06%;
  width: 27.6%;
  top: 0;
  right: 72.4%;
  bottom: 81.94%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lv3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p {
  margin: 0;
}
.lv3Container1 {
  line-break: anywhere;
  width: 100%;
}
.lv3Container {
  position: absolute;
  top: 16px;
  left: 93px;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 156px;
  height: 35px;
}
.iconUser {
  position: absolute;
  height: 4.97%;
  width: 6.4%;
  top: 93.72%;
  right: 20.8%;
  bottom: 1.31%;
  left: 72.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent {
  position: relative;
  width: 250px;
  height: 382px;
  flex-shrink: 0;
}
.lv12Container {
  position: absolute;
  top: 16px;
  left: 97px;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 156px;
  height: 35px;
}
.iconUser1,
.iconUserCircle1 {
  position: absolute;
  height: 18.06%;
  width: 27.27%;
  top: 0;
  right: 71.15%;
  bottom: 81.94%;
  left: 1.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconUser1 {
  height: 4.97%;
  width: 6.32%;
  top: 93.72%;
  right: 21.74%;
  bottom: 1.31%;
  left: 71.94%;
}
.rectangleGroup {
  position: relative;
  width: 253px;
  height: 382px;
  flex-shrink: 0;
}
.lv33Container {
  position: absolute;
  top: 16px;
  left: 90px;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 156px;
  height: 35px;
}
.iconUserCircle2 {
  position: absolute;
  height: 100%;
  width: 28.05%;
  top: 0;
  right: 71.95%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lv33Parent {
  position: absolute;
  top: 0;
  left: 4px;
  width: 246px;
  height: 69px;
}
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-noto-sans);
}
