.span {
  color: var(--color-violet-100);
}
.b,
.vectorIcon {
  position: relative;
  flex-shrink: 0;
}
.b {
  font-size: var(--font-size-lg);
  letter-spacing: 0.15em;
  display: inline-block;
  width: 356px;
  height: 43px;
}
.vectorIcon {
  width: 69px;
  height: 69px;
}
.lv9,
.vectorParent {
  display: flex;
  align-items: center;
}
.lv9 {
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 600;
  width: 186px;
  height: 35px;
  flex-shrink: 0;
}
.vectorParent {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xs);
}
.frameWrapper,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  width: 356px;
}
.parent {
  position: absolute;
  top: 1178px;
  left: 1290px;
  padding: var(--padding-sm);
  gap: var(--gap-md);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-noto-sans);
}
