.vectorIcon {
  position: relative;
  width: 69px;
  height: 69px;
  flex-shrink: 0;
}
.lv3,
.online {
  letter-spacing: 0.1em;
}
.lv3 {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 186px;
  height: 35px;
  flex-shrink: 0;
}
.online {
  position: absolute;
  top: 24px;
  left: 0;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 13px;
  width: 20px;
  height: 20px;
}
.onlineParent {
  position: relative;
  width: 44px;
  height: 40px;
  flex-shrink: 0;
  font-size: var(--font-size-sm);
  color: var(--color-red);
}
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.frameWrapper {
  width: 356px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-noto-sans);
}
