.div,
.div1 {
  top: 259px;
  letter-spacing: 0.15em;
  font-weight: 500;
}
.div {
  position: absolute;
  left: 4px;
}
.div1 {
  left: 292px;
}
.div1,
.div2,
.iconUser {
  position: absolute;
}
.div2 {
  top: 259px;
  left: 577px;
  letter-spacing: 0.15em;
  font-weight: 500;
}
.iconUser {
  height: 6.07%;
  width: 1.15%;
  top: 83.71%;
  right: 44.52%;
  bottom: 10.22%;
  left: 54.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild,
.groupInner,
.groupItem,
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 248px;
  height: 248px;
  object-fit: cover;
}
.groupInner,
.groupItem,
.rectangleIcon {
  left: 285px;
}
.groupInner,
.rectangleIcon {
  left: 570px;
}
.rectangleIcon {
  left: 855px;
}
.p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p1 {
  margin: 0;
}
.div3 {
  position: absolute;
  top: 259px;
  left: 865px;
  letter-spacing: 0.15em;
  font-weight: 500;
  white-space: pre-wrap;
}
.groupChild1 {
  position: absolute;
  top: 0;
  left: 1140px;
  border-radius: var(--br-sm);
  width: 248px;
  height: 248px;
  object-fit: cover;
}
.div4 {
  position: absolute;
  top: 259px;
  left: 1150px;
  letter-spacing: 0.15em;
  font-weight: 500;
  white-space: pre-wrap;
}
.iconUser1,
.iconUser2,
.iconUser3,
.iconUser4 {
  position: absolute;
  height: 6.07%;
  width: 1.15%;
  top: 83.71%;
  right: 85.73%;
  bottom: 10.22%;
  left: 13.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconUser2,
.iconUser3,
.iconUser4 {
  right: 65.06%;
  left: 33.79%;
}
.iconUser3,
.iconUser4 {
  right: 24.28%;
  left: 74.57%;
}
.iconUser4 {
  right: 4.11%;
  left: 94.74%;
}
.parent {
  position: relative;
  width: 1388px;
  height: 313px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-noto-sans);
}
