.carousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  behavior: smooth;
}  
.carouselcontainer {
  width: 208vw;
  transition: transform 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inner img {
  height: 25vw;
}

.buttonlist{
  margin: auto;
  width: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circlebutton {
  background-color: #cacaca;
  border-radius: 100%;
  width: 1vw;
  height: 1vw;
  cursor: pointer;
}

.circlebutton.active{
  background-color: #F400B0;
}

.guideimage{
  cursor: pointer;
}