.ProfileImg {
  border-radius: 50%;
  width: 4rem;
  aspect-ratio: 1/1;
}

.FollowingList {
  height: 40rem;
  overflow: hidden auto;
  display: table-caption;
}

.FollowingInfoFont {
  font-size: 2rem;
  float: left;
  margin: 0.5rem;
  align-items: center;
}

.FollowingsInfo {
  display: inline-flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  margin-top: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  max-width: 100%;
  display: inline-block;
  border: none;
  margin: 2rem;
}

.RoomInfo {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.Roomimage {
  width: 20rem;
  align-items: center;
}

.HostInfo {
  display: inline-flex;
  align-items: center;
}

.RoomTitle {
  float: left;
  font-size: 2rem;
  color: #ffffff;
  overflow: hidden;
  line-height: 3rem;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.UserCount {
  float: right;
  font-size: 2rem;
  color: #ffffff;
}

.LevelFont {
  display: inline-block;
  font-size: 2rem;
}

.userNameFont {
  font-size: 2rem;
}
.HostFollowingsList {
  width: 100%;
  margin: auto;
  display: inline-flex;
  overflow: scroll hidden;
}
.HostTextInfo {
  justify-content: center;
  align-items: center;
  margin: auto;
  line-height: 3rem;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.marginTopBot {
  padding: 3rem;
}

.NoGameRoomsText {
  margin: auto;
  display: table;
  font-size: 2.5rem;
  font-weight: 100;
  word-break: keep-all;
  text-align: center;
}

.NoGameRoomsImg {
  margin: auto;
  display: table;
  font-size: 10rem;
  padding-top: 3rem;
}

.followingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.FollowingBox {
  margin: 1.5rem;
}
