.ProfileImg {
  width: 5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: solid 0.4rem transparent;
  background-image: linear-gradient(#fff, #fff), 
  linear-gradient(to right, #8f00ff 0%,  #f400b0 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.FollowingList {
  max-height: 40rem;
  width: 100%;
  overflow: scroll;
  display: table-caption;
  margin-top: 1rem;
}


.FollowingList::-webkit-scrollbar {
  width: .8rem;
}

.FollowingList::-webkit-scrollbar-thumb  {
  background-color: #f400b0;
  border-radius: 1rem;
}

.FollowingList::-webkit-scrollbar-track  {
  background-color:#222222;
}

.FollowingList::-webkit-scrollbar-corner{
  display: none;
}

.FollowingInfoFont {
  font-size: 2rem;
  margin: 0.5rem;
}

.FollowingInfoFont p {
  margin: 0;
}

.FollowingsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 1rem;
  transition: color .3s ease;
}

.Online {
  margin-left: auto;
  justify-content:center;
  align-items: center;
  align-items: flex-end
}

.OnlineSize {
  width: 3.5rem;
}

.FollowingsInfo:hover{
  color: #f400b0;
  cursor: pointer;
  animation: changecolor 0.3s ease;
}

.card {
  max-width: 100%;
  display: inline-block;
  border: none;
  margin: 2rem;
}

.RoomInfo {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.Roomimage {
  width: 20rem;
  align-items: center;
  border-radius: 2.5rem;
}

.RoomTitle {
  float: left;
  font-size: 2rem;
  color: #ffffff;
  overflow: hidden;
  line-height: 3rem;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.UserCount {
  float: right;
  font-size: 2rem;
  color: #ffffff;
}

.LevelFont {
  display: inline-block;
  font-size: 2rem;
}

.userNameFont {
  font-size: 2rem;
}

.marginTopBot {
  padding: 3rem;
}

.NoGameRoomsText {
  margin: auto;
  display: table;
  font-size: 2.5rem;
  font-weight: 100;
  word-break: keep-all;
  text-align: center;
}

.NoGameRoomsImg {
  margin: auto;
  display: table;
  font-size: 10rem;
  padding-top: 3rem;
}

.followingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.OnlineWrapper {
  position: absolute; /* add position absolute */
  bottom: 0; /* position from the bottom */
  margin-left: auto;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}