.background {
  background-color: #1f2122;
  width: auto;
  font-weight: bold;
  font-size: 5rem;
  color: white;
  font-family: "GmarketSans";
  padding-left: 8.3%;
  padding-right: 8.3%;
  display: flex;
  flex-direction: column;
}
.GameRoomsDisplay {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  display: inline-block;
  border: none;
  padding: 1rem;
  width: 30rem;

}